body {
    color: white;
    background: rgb(131, 130, 130);
}

h2 {
    display: inline;
    position: absolute;
    right: 30px;
    top: 0;
}

.painel {
    width: auto;
    height: auto;
    max-width: 725px;
    max-height: 300px;
}

.fieldset_principal {
    display: inline;
}

a {
    text-decoration: none;
}

@media screen and (max-width: 600px) {
    h2 {
        position: static;
    }

    .painel {
        width: auto;
        height: auto;
        max-width: 450px;
        max-height: 300px;
    }

    .fieldset_principal {
        width: 450px;
    }
}

@media screen and (max-width: 1200px) {
    h2 {
        position: static;
    }
}